<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<ul>
<% cart.each do |c| %>
  <li><%= c %></li>
<% end %>
</ul>
<%= form_tag '/', method: :put do %>
  <%= label_tag 'Product' %><br>
  <%= text_field_tag 'product' %>
  <%= submit_tag 'add to cart' %>
<% end %>
